# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.
{
	admin off
	storage file_system /usr/local/etc/caddy/
	log {
		format filter {
			wrap console {
				time_format rfc3339
				time_local
			}
			fields {
				request>headers>Authorization delete
				request>headers>Cookie cookie {
					replace session REDACTED
					delete secret
				}
				# request>remote_ip ip_mask {
				# 	ipv4 16
				# 	ipv6 32
				# }
			}
		}
	}
}

import sites-enabled/*

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
